@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../assets/fonts/Poppins/Poppins-Regular.ttf')
}
@font-face {
    font-family: 'Chelsea';
    font-weight: 400 900;
    src: url('../assets/fonts/Chelsea_Market/ChelseaMarket-Regular.ttf')
}