@use '../abstracts/' as abs;

.about {
    position: relative;
    text-align: center;

    @include abs.for-tablet-up {
        text-align: left;
    }

    &__wrapper {
        position: relative;
        z-index: 2;
    }

    &__title {
        font-size: 1.5rem;
        color: abs.$green-dark;
        margin-block-end: .75em;
        @include abs.for-tablet-up {
            text-align: left;
            font-size: 2rem;
        }
    }

    &__img {
        max-width: abs.toRem(280);
        margin-inline: auto;

        @include abs.for-desktop-up {
            max-width: abs.toRem(400);
        }
    }

    &__plant {
        width: 30%;
        max-width: abs.toRem(200);

        &--left {
            @include abs.absolute(top 15% left 0)
        }

        &--right {
            @include abs.absolute(top 30% right 0);
        }
    }
}