@use '../abstracts/' as abs;

.books {
    position: relative;
    &__item {
        @include abs.flex-col(null, center);
        gap: 2em;

        @include abs.for-tablet-up {
            flex-direction: row;
            align-items: flex-start;
        }
    }

    &__img {
        max-width: abs.toRem(300);
    }

    &__title {
        font-size: 1.25rem;
        font-size: clamp(1.25rem, 0.8rem + 1.8vw, 2rem);
        color: abs.$green-dark;
    }

    &__left,
    &__right {
        width: 100%;
    }

    &__left {
        @include abs.flex-col(null, center);

        @include abs.for-tablet-up {
            width: 45%;
        }
    }

    &__cta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;

        & > * {
            flex-shrink: 0;
        }
        // @include abs.flex-col(null, flex-start);
        // gap: 1em;

        // @include abs.for-tablet-up {
        //     flex-direction: row;
        //     align-items: center;
        // }
    }

    &__price {
        font-size: 1.6rem;
        font-weight: 500;
    }
}