@use '../abstracts/' as abs;

.pros {
    text-align: center;
    position: relative;
    padding-block: 8em;
    overflow: hidden;

    &__slider {
        padding-block-start: 5em;

        @include abs.for-tablet-up {
            padding-block-start: 0;
        }
    }

    &__image {
        max-width: abs.toRem(280);
        margin-inline: auto;
        margin-block-end: 2em;
    }

    &__img {
        height: 200px;
        margin-inline: auto;
    }

    &__controls {
        position: absolute;
        top: 0;
        left: 50%;
        translate: -50% 0;
        display: flex;
        gap: 1em;

        @include abs.for-tablet-up {
            display: none;
        }
    }

    &__control {
        display: inline-block;
        all: unset;
        width: abs.toRem(50);
        height: abs.toRem(50);
        border-radius: 50%;
        background-color: abs.$orange;
        margin-inline: .5em;
        @include abs.flex-center;


        img {
            width: 80%;
        }

        &--prev {
            img {
                rotate: 180deg;
            }
        }
    }

    &__bg {
        color: abs.$green;
        @include abs.absolute(top -2px left 0);
        // translate: 0 -50%;
        rotate: 180deg;
    }

    &__worm {
        width: abs.toRem(100);
        @include abs.absolute(top 1rem right 20%);

        @include abs.for-tablet-up {
            top: 4rem;
        }
    }

    &__racoon {
        max-width: abs.toRem(100);
        @include abs.absolute(bottom 0 left 15%);
        transform-origin: bottom center;

        @include abs.for-desktop-up {
            max-width: abs.toRem(160);
        }
    }

    &__leaves {
        
        @include abs.for-desktop-up {
            width: 120%;
            height: 150px;
            bottom: -60px;
        }
    }
}