@use '../abstracts/' as abs;

.wrapper {
    width: 90%;
    max-width: abs.$max-width;
    margin-inline: auto;
}

.title {
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 1.18rem + 3.1vw, 3.5rem);
    color: abs.$secondary;
    margin-block-end: .4em;
}

.lead {
    font-size: 1.125rem;
    font-size: clamp(1.125rem, 0.8rem + 1.5vw, 2rem);
    font-weight: bold;
    font-family: abs.$ff-heading;
    margin-block-end: 1em;
}

.uppercase {
    text-transform: uppercase;
}


.flow {
    & > * + * {
        margin-block-start: 1em;
    }

    &--2 > * + * {
        margin-block-start: 2em;
    }
}

.section {
    padding-block: 4em;

    @include abs.for-desktop-up {
        padding-block: 8em;
    }

    &--shape-padding {

        @include abs.for-desktop-up {
            padding-block-start:calc(10em + abs.$bg-shape-height / 2) 
        }
    }

    &__title {
        font-size: 1.75rem;
        font-size: clamp(1.75rem, 1.3rem + 2.2vw, 3rem);
        margin-block-end: 1em;
        color: abs.$secondary;
        text-align: center;

        &--s {
            font-size: 1.2rem;
            font-size: clamp(1.2rem, 1rem + 1.1vw, 1.8rem);
        }
    }

    &__bg {
        display: block;
        position: absolute;
        left: 0;

        &--rotate {
            rotate: 180deg;
        }

        &--bottom {
            bottom: -2px;
        }

        &--top {
            top: -2px;
        }

        &--shape {
            position: absolute;
            width: 100%;
            height: abs.$bg-shape-height;
            border-radius: 100%;
            background-color: inherit;
            left: 50%;
            translate: -50% 50%;

            &-top {
                translate: -50% -50%;
            }
        }
    }
}


.bg {
    &-green {
        background-color: abs.$green;

        &--light {
            background-color: abs.$green-light;
        }

        &--dark {
            background-color: abs.$green-dark;
            color: abs.$text4;
        }
    }

    &-yellow {
        background-color: abs.$yellow;
    }
}


.clr {

    &-black {
        color: abs.$text-primary;
    }

    &-yellow {
        color: abs.$yellow;
    }
    &-green {
        color: abs.$green;
    }

    &-green-light {
        color: abs.$green-light;
    }
}

.relative {
    position: relative;
}

.overflow-hidden {
    overflow: hidden;
}

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}


.flex-half {
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;

    @include abs.for-tablet-up {
        flex-direction: row-reverse;
    }

    & > * {
        width: 100%;

        @include abs.for-tablet-up {
            width: 50%;
        }
    }
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.row-reverse-sm {
    flex-direction: row-reverse;

}

.m-top-4 {
    margin-block-start: 4em;
}



.absolute-bg {
    position: absolute;
    left: 0;

    &--bot {
        bottom: -2px;
    }
}



.reveal-block-bt {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}